.btn-show {
    color: rgb(18, 142, 180);
}
.color {
    color: #61dafb;

    .add1 {
        border: 1px solid rgb(18, 208, 234);
        width: 4%;
        padding: 2px;
        margin: 0 0 15px 0;
        font-size: 15px;
    }
    .add2 {
        padding: 2px;
        width: 12%;
        margin: 10px 0 10px 0;
    }
}
.job-lists {
    font-size: 20;
    .add3 {
        margin: 0 0 5px 10px;
    }
}
