.add-todo {
    .add {
        margin: 0 2px;
        border: 1px solid rgb(18, 208, 234);
        width: 3%;
        padding: 2px;
    }
    .adt {
        border: 1px solid rgb(18, 208, 234);
        width: 12%;
        padding: 2px;
    }
}
