.detail-user-container {
    .title {
        color: rgb(18, 208, 234);
    }
    .detail-user-content {
        font-size: 21px;
        .child1 {
        }
        .child2 {
            margin: 20px 0 10px 0;
        }
        .child3 {
            margin: 20px 0 10px 0;
        }
    }
}
