.list-user-container {
    .title {
        color: rgb(18, 208, 234);
        font-size: 26px;
        margin: 0 0 20px 0;
    }
    .list-user-content {
        .child {
            font-size: 21px;
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid #3c3b3b;
        }
    }
}
